* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ADD9E6;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.col-100:after{
  content: "";
  clear: both;
  display: table;
}
header .col-100 {
  width: 100%;
  margin: 0 auto;
}
header .col-100 h1 {
  text-align: center;
  color: #fff;
}
main .col-100 {
  width: 650px;
  height: 640px;
  margin: 0 auto;
  position: relative;
}
.card {
  background: url('../img/pattern.png');
  background-size: contain;
  border-radius: 5px;
  position: absolute;
  width: 150px;
  height: 200px;
  margin: 10px;
}
.riga-1 {
  top: 0;
}
.riga-2 {
  top: 210px;
}
.riga-3 {
  top: 420px;
}
.colonna-1 {
  left: 0;
}
.colonna-2 {
  left: 160px;
}
.colonna-3 {
  left: 320px;
}
.colonna-4 {
  left: 480px;
}
footer {
  text-align: center;
}
#c1-1:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c1-2:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c1-3:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c1-4:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c2-1:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c2-2:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c2-3:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c2-4:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c3-1:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c3-2:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c3-3:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#c3-4:hover {
  background-image: url('../img/noun_air_balloon_3134741.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
